.carousel {
    display: inline-block;
    padding:  10 px;
    margin: 10px;
    background: burlywood;
    line-height: 1.4;
}

.inactive {
   width: 60%;;
   display: none;
   
}

.est_visible {
visibility: visible;
}
.est_invisible {
visibility:hidden;
}

.active{
    width: 60%;;
   display: block;
}