div {
     display: block;
    padding:  10 px;
    margin: 10px;
    background: burlywood;
    line-height: 1.4;
    display: block;
   
}

.inactive {

   display: none;
}
.active{
    width: 60%;;
   display: flex;
}